Workflows/PRUEBAS_MCP.json
{
  "name": "PRUEBAS_MCP",
  "nodes": [
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        260,
        160
      ],
      "id": "15baa9cf-25d4-467e-a632-629ec29e5154",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -60,
        -20
      ],
      "id": "df11515d-fba2-42ab-b7f2-46393849ecf5",
      "name": "When chat message received",
      "webhookId": "ebfa35d1-e2c8-4007-9095-d7ec3f38af94"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un agente de IA que responde a las dudas y ejecuta tareas del usuario\n\n## Tu principal tarea es responder a esta petición:\n{{ $json.chatInput }}\n\nDebes analizar lo que quiere el usuario y elegir, de entre tus herramientas, cual usar.\n\nSIEMPRE que el usuario te pida extraer títulos usa la herramienta 'MCP-extract-titles'\n\nSIEMPRE que el usuario te pida un documento pdf usa la herramienta 'MCP-pdf-generator'\n\n#HERRAMIENTAS\n- Dispones de una herramienta de memoria con la que edbes recordar lo que el usuario te pida que recuerdes.\n- Tu otra herramienta es capaz de extraer los títulos de un texto que te pase el usuario.\n- Otra herramienta es la encargada de generar un pdf con la información que te solicita el usuario (la que tu le das). Debes indicarle si el pdf se ha generado con exito.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        200,
        -20
      ],
      "id": "bb171316-c1f0-4ab9-906a-f4baf84ed7a9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "qwen2.5:7b-instruct-q4_K_M",
          "mode": "list",
          "cachedResultName": "qwen2.5:7b-instruct-q4_K_M"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        100,
        200
      ],
      "id": "38b370c9-a7da-4a14-84f9-b611b3134e30",
      "name": "Ollama Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Ndg0B012Dk2MVPoe",
          "name": "Ollama "
        }
      }
    },
    {
      "parameters": {
        "sseEndpoint": "http://host.docker.internal:8050/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        400,
        260
      ],
      "id": "3360b394-0b91-4104-b039-7273f4dddd0d",
      "name": "MCP-mem0"
    },
    {
      "parameters": {
        "sseEndpoint": "http://host.docker.internal:8060/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        520,
        180
      ],
      "id": "9d34273c-f97d-4242-8772-e8250d33db8a",
      "name": "MCP-extract-titles"
    },
    {
      "parameters": {
        "sseEndpoint": "http://host.docker.internal:8070/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        660,
        200
      ],
      "id": "b82a4c8c-d854-453a-82b9-96c1bc2bd1c9",
      "name": "MCP-pdf-generator"
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP-mem0": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP-extract-titles": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP-pdf-generator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "92a17ca3-9a03-4794-a650-a2644d765f07",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fc37c8433250d4ab82bb048d7f9d7a48f4473910af154f61650e87932c72be20"
  },
  "id": "VeYtIOIrG0khNaWs",
  "tags": []
}